html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

/*
    The following attribute is necessary as to avoid the mobile issue when trying to drag and drop the model
    and overall trying to use the 3D website because mobile gestures might trigger the page reload, or the go-back action
    and would make a horrible experience, this property fixes the issue
*/
.r3f {
    touch-action: none;
}

.htmlScreen iframe {
    width: 1024px;
    height: 670px;
    border: none;
    border-radius: 20px; /*Preference of Bruno Simon because this might look better on Macs*/
    background-color: black;
}
